body { 
  background-color: #666688; 
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%
}

canvas { 
  background-color: #664444;
  position: absolute;
  /*top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  height: 100%;
  width: 100%;
}